.card{
    width: 200px;
    height: 280px;
    border: solid 2px;
    border-color: red;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    // margin: 20px;
    text-align: center;
    transition: all 0.5;
    text-decoration: none;
    background-color: antiquewhite;
}

.img{
    width: 150px;
    height: auto;
    
}

.link{
    text-decoration: none;
}